# Temporary files
*~
*.aux
*.bcf
*.log
*.out
*.thm
*.bbl
*.blg
*.run.xml
*.synctex.gz
Temporary/
__pycache__/
.ipynb_checkpoints/
Raw/
build/
.vscode/
setup.cfg

# Binary files
*.pdf
*.png
*.o
*.so

# Specially considered files
*.ipynb
*.bak
*.dat
*.dir
